html {
    width: 21cm;
    margin: 0;
    padding: 0;
}

body {
    font-size: 12pt;
    margin: 3em 3em;
    font-family: "Source Sans Pro";
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: dotted 1px #777;
}

p {
    text-align: justify;
}

a:hover, a:focus {
    border-bottom: solid 1px #777;
}

@media print {
    a {
        border-bottom: none;
    }
    aside {
        display: none;
    }
}

strong {
    color: #6B1417;
}

td {
    vertical-align: top;
}


header {
    position: relative;
    border-bottom: solid 2px #6B1417;
    height: 3em;
}

header h1, header address {
    display: inline-block;
    margin-bottom: 0;
}

header h1 {
    position: absolute;
    margin-top: 0;
    font-size: 28pt;
    top: 0;
}

header address {
    font-style: normal;
    font-size: 11pt;
    position: absolute;
    right: 0;
    text-align: right;
}

h2 {
    background: #6B1417;
    color: white;
    margin-left: -2em;
    padding: 0 1em;
    display: inline-block;
}

section {
    margin-left: 13em;
}

section+section {
    border-top: dotted 1px #777;
}


h4, h5 {
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

h5 {
    margin-left: -13em;
    float: left;
}

h3 small, h4 small, h5 small {
    display: block;
}

aside {
    position: fixed;
    right: 2em;
    top: 2em;
}

aside ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
.signature {
    margin-top: 5em;
}

.address {
    margin-top: 5em;
}